@page
@{
}
 
<div class="text-center">
<form action="">
  <label for="id" class="form-label">Id:</label>
  <input type="number " class="form-control" id="id" name="id" placeholder="Id">
  <label for="marca" class="form-label">Marca:</label>
  <input type="text" class="form-control" id="marca" name="marca" placeholder="Marca">
  <label for="modelo" class="form-label">Modelo:</label>
  <input type="number" class="form-control" id="modelo" name="modelo" placeholder="Modelo">
  <label for="numero_asientos" class="form-label">Numero de Asientos:</label>
  <input type="number" class="form-control" id="numero_asientos" name="numero_asientos" placeholder="Numero de Asientos">
  <label for="numero_banos" class="form-label">Numero de baños:</label>
  <input type="number" class="form-control" id="modelo" name="modelo" placeholder="Modelo">
  <label for="capacidad_maxima" class="form-label">Capacidad Maxima:</label>
  <input type="number" class="form-control" id="capacidad_maxima" name="capacidad_maxima" placeholder="Capacidad Maxima">
  <hr/>  
  <button type="submit" class="btn btn-success">Enviar</button>
</form>
</div>