@page
@model IndexModel
@{
    ViewData["Title"] = "Pagina Principal";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <img src="https://astelus.com/wp-content/viajes/las-principales-aerolineas-del-mundo.jpg" alt="">
    <iframe width="560" height="315" src="https://www.youtube.com/embed/1Ek9YTQYgAk" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
