@page
@model IndexModel
@{
    ViewData["Title"] = "Pagina Principal";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    @* <img src="https://astelus.com/wp-content/viajes/las-principales-aerolineas-del-mundo.jpg" alt=""> *@
    @* <iframe width="560" height="315" src="https://www.youtube.com/embed/1Ek9YTQYgAk" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe> *@
    <p>Aerolínea con sede en Dubái, Emiratos Árabes Unidos. La aerolínea es una subsidiaria de The Emirates Group, a la que pertenece en su totalidad. Es la aerolínea más grande en el Medio Oriente, que opera cerca de 3.400 vuelos por semana desde su centro de operaciones en el Aeropuerto Internacional de Dubái, a más de 133 ciudades en 74 países en cuatro continentes. Las actividades de carga se llevan a cabo por el Grupo Emirates SkyCargo. </p>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
